BasedOnStyle: LLVM
IndentWidth: 0
TabWidth: 0
UseTab: Never
ColumnLimit: 200
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
BinPackArguments: true
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: false
CompactNamespaces: true
EmptyLineBeforeAccessModifier: Never
EmptyLineAfterAccessModifier: Never
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 0
SortIncludes: false
NamespaceIndentation: None
AccessModifierOffset: 0
PointerAlignment: Left
